@model IEnumerable<FluxoCaixa.Models.Conta>

@{
	ViewData["Title"] = "Index";
}

<h1 class="text-center">Contas</h1>

<form asp-action="Index" method="get" method="get" class="mb-3">
	<div class="input-group">
		<input type="text" name="busca" class="form-control" placeholder="Buscar por nome da Categoria..." value=@ViewData["termoBusca"] />
		<button class="btn btn-primary" type="submit">Buscar</button>
	</div>
</form>

<p>
	<a asp-action="Create" class="btn btn-success">Criar Novo</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Valor)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DataVencimento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pago)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TipoConta)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Valor)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DataVencimento)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Pago)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TipoConta.Nome)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.TipoContaId" class="btn btn-primary">Editar</a>
					<a asp-action="Delete" asp-route-id="@item.TipoContaId" class="btn btn-danger">Deletar</a>
				</td>
			</tr>
		}
	</tbody>
</table>
